nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(207, 207, 207);
  margin-bottom: 16px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 6px 12px;
  flex: 1 1 200px;
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.container-item {
  display: flex;
  flex: 1 1 390px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  min-height: 220px;
}

.container-item > p {
  text-align: center;
  padding: 0 12px;
}

.footer {
  background-color: rgb(207, 207, 207);
  align-self: stretch;
  text-align: center;
}
