body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.item {
  width: 180px;
  height: 80px;
  border: 1px solid rgb(255, 200, 0);
  border-width: 2px 6px;
}

p {
  margin: 0;
}
