body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  text-align: center;
  background-color: #393939;
}

img {
  width: 500px;
  height: 500px;
  border: 5px solid #00d0a7;
  border-radius: 15px;
  margin: 50px 0 25px;
}

button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #00d0a7;
  border-radius: 10px;
  margin: 5px;
  border: 2px solid #00d0a7;
  font-family: inherit;
  text-transform: capitalize;
}

button:hover {
  background-color: white;
  color: black;
}
