.root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 992px) {
  .content {
    grid-template-columns: 1fr 360px;
    align-items: start;
  }
}
