body {
  background-color: #333;
  text-align: center;
}

img {
  width: 300px;
  margin-top: 24px;
  border: 5px solid #14f7ff;
  border-radius: 24px;
  transform-origin: left top;
  transition: all 2s;
}

img:hover {
  opacity: 0.2;
  transform: scale(0.8);
}
