body {
  background-color: #333;
}

button {
  padding: 8px 16px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 2px solid #14f7ff;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  color: #14f7ff;
  background-color: transparent;
  box-shadow: 0px 0px 5px #14f7ff;
  text-shadow: 0px 0px 10px #14f7ff;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: #14f7ff;
  color: black;
  box-shadow: 0px 0px 20px 5px#14f7ff;
}
