/* .content-grid {
  display: grid;
  grid-template-areas:
    "carousel"
    "form"
    "news-list";
  gap: 2rem;
  padding-block: 3rem;
}

@media (min-width: 768px) {
  .content-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "carousel form"
      "news-list news-list";
  }
}

.area-carousel {
  grid-area: carousel;
}

.area-news-list {
  grid-area: news-list;
}

.area-form {
  grid-area: form;
} */
