<section class="task-list">
  <div class="filters">
    <button
      type="button"
      class="filter-btn"
      (click)="taskState.updateFilter('all')"
      [class.active]="taskState.filter() === 'all'"
    >
      All Tasks
    </button>
    <button
      type="button"
      class="filter-btn"
      (click)="taskState.updateFilter('completed')"
      [class.active]="taskState.filter() === 'completed'"
    >
      Completed
    </button>
    <button
      type="button"
      class="filter-btn"
      (click)="taskState.updateFilter('pending')"
      [class.active]="taskState.filter() === 'pending'"
    >
      Pending
    </button>
  </div>

  <div class="tasks-container">
    @for (task of taskState.visibleTasks(); track task.id) {
      <app-card
        [task]="task"
        (deleteTaskEvent)="taskState.deleteTask($event)"
        (editTaskEvent)="taskState.selectTask($event)"
        (updateTaskEvent)="taskState.updateTask($event)"
      ></app-card>
    } @empty {
      <div class="empty-state">
        @switch (taskState.filter()) {
          @case ('all') {
            <p>Start adding tasks to appear here</p>
          }
          @case ('completed') {
            <p>Let's finish today's tasks!</p>
          }
          @case ('pending') {
            <p>Congratulation! You can enjoy your free time.</p>
          }
        }
      </div>
    }
  </div>
</section>
