body {
  background-color: #333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width: fit-content;
  margin: 0 auto;
  border: 2px solid rgb(67, 67, 67);
  padding: 0px 24px 24px 24px;
  border-radius: 8px;
  margin-top: 36px;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: all 0.5s ease-in-out;
  border: 3px solid rgb(67, 67, 67);
  border-radius: 8px;
  padding: 12px 20px;
  background-color: inherit;
  margin-bottom: 12px;
  color: white;
  font-size: 1.3rem;
}

input:focus {
  border-color: rgb(130, 255, 209);
  box-shadow: 0 0 10px rgb(130, 255, 209);
}

input:not(:placeholder-shown):valid {
  border-color: #34d43c;
  box-shadow: 0 0 10px #34d43c;
}

input:not(:placeholder-shown):invalid {
  border-color: rgb(205, 0, 0);
  box-shadow: 0 0 10px rgb(205, 0, 0);
}

.error-text {
  color: rgb(205, 0, 0);
  font-size: 0.9rem;
  display: none;
  margin-top: -5px;
  margin-bottom: 15px;
  transition: all 5s;
}

input:not(:placeholder-shown):invalid + .error-text {
  display: block;
}

button[type="submit"] {
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgb(62, 255, 184);
  border: 3px solid rgb(62, 255, 184);
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: transparent;
  border-color: rgb(62, 255, 184);
  color: rgb(62, 255, 184);
}
