body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #f0f2f5;
}

.grid-container {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}

.game-title {
  text-transform: uppercase;
  font-size: 36px;
  background-color: #00d0a7;
  color: white;
  margin: 0 auto;
  padding: 12px 0;
}

.winner-message {
  font-size: 24px;
  color: #008f7a;
  font-weight: bold;
  margin: 10px 0;
}

.grid-board {
  padding: 0 20px 40px;
}

.grid-board > img {
  margin: 5px 5px;
  border: 2px solid #00d0a7;
  border-radius: 20px;
  padding: 6px;
}

.grid-board > img:hover {
  cursor: pointer;
}

.game-info {
  padding: 10px 30px;
  background-color: #00d0a7;
  overflow: hidden;
}

.game-info button {
  float: left;
  border: 3px solid white;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  background-color: #00d0a7;
  font-size: 18px;
  /* line-height: 1.5; */
  text-transform: lowercase;
  font-family: inherit;
}

.game-info button:hover {
  cursor: pointer;
  background-color: #008f7a;
  border-color: #f1f1f1;
  color: #f1f1f1;
}

#game-score {
  float: right;
  font-size: 26px;
  color: white;
  font-weight: bold;
  margin: 5px 0 0;
}
