@use 'variables' as *;
@use 'sass:map';

@mixin respond-to($bp) {
    $min: map.get($breakpoints, $bp);

    @if $min==0px {
        @content;
    }

    @else {
        @media (min-width: $min) {
            @content;
        }
    }
}

@mixin card() {
    background: $color-white;
    border-radius: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
}